@font-face {
  font-style: normal;
  font-family: "Iosevka";
  font-display: swap;
	src: local("Iosevka Aile Regular"), local("Iosevka-Aile-Regular"), url('../lib/iosevka/woff2/iosevka-aile-regular.woff2') format('woff2'), url('../lib/iosevka/ttf/iosevka-aile-regular.ttf') format('truetype');
};