<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
  {{ if .Site.GoogleAnalytics }}
    {{ if .Site.Params.googleAnalyticsAsync }}
      {{ template "_internal/google_analytics_async.html" . }}
    {{ else }}
      {{ template "_internal/google_analytics.html" . }}
    {{ end }}
  {{ end }}
  {{ .Scratch.Set "themeversion" "v1"}}
  {{ if .Site.Params.themeVersion }}
  {{ .Scratch.Set "themeversion" .Site.Params.themeVersion }}
  {{ end }}
  <script src="{{ printf "/lib/jquery/jquery.min.js?%s" $themeversion }}"></script>
  <script src="{{ printf "/js/main.js?%s" $themeversion }}"></script>
</body>
</html>
