
@font-face {
	font-family: 'iosevka';
	font-display: swap;
	font-weight: 400;
	font-stretch: normal;
	font-style: normal;
	src: url('../lib/iosevka/woff2/iosevka-ss09-regular.woff2') format('woff2'), url('../lib/iosevka/woff/iosevka-ss09-regular.woff') format('woff'), url('../lib/iosevka/ttf/iosevka-ss09-regular.ttf') format('truetype');
}